<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<!--<p *ngIf="!forecasts"><em>Loading...</em></p>

<table class='table' *ngIf="forecasts">
    <thead>
        <tr>
            <th>Date</th>
            <th>Temp. (C)</th>
            <th>Temp. (F)</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let forecast of forecasts">
            <td>{{ forecast.dateFormatted }}</td>
            <td>{{ forecast.temperatureC }}</td>
            <td>{{ forecast.temperatureF }}</td>
            <td>{{ forecast.summary }}</td>
        </tr>
    </tbody>
</table>-->

<p-dataTable [value]="forecasts" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
    <p-header>Forecast</p-header>
    <p-column field="dateFormatted" header="dateFormatted"></p-column>
    <p-column field="temperatureC" header="temperatureC"></p-column>
    <p-column field="temperatureF" header="temperatureF"></p-column>
    <p-column field="summary" header="summary"></p-column>
</p-dataTable>
